@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Groupe';
  src: url('../public/GROUPE-MEDIUM.eot');
  src: url('../public/GROUPE-MEDIUM.eot?#iefix') format('embedded-opentype'),
  url('../public/groupe.otf') format('opentype'),
      url('../public/GROUPE-MEDIUM.woff2') format('woff2'),
      url('../public/GROUPE-MEDIUM.woff') format('woff'),
      url('../public/GROUPE-MEDIUM.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../public/star5.jpg');
  animation: twinkling 6s forwards ease-out;
}


@keyframes expand {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}


.bigger {
  animation: expand 2s 1 forwards ease-in-out;
}

@keyframes popUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-up {
  animation: popUp 0.5s ease-out 2s forwards;
  opacity: 0;
  transform: scale(0);
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  12.5% {
    opacity: 0.4;
  }
  15% {
    opacity: 1;
  }
  27.5% {
    opacity: 1;
  }
  40% {
    opacity: 0.4;
  }
  52.5% {
    opacity: 1;
  }
  65% {
    opacity: 0.4;
  }
  77.5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.flicker-animation {
  display: inline-block;
  animation: flicker 3s linear infinite;
}
/* styles.css */
.play {
  position: relative;
  z-index: 1;
}

.play::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(128, 90, 213, 0.6) 0%, transparent 70%);
  transform: translate(-50%, -50%) scale(1.2);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.glow::before {
  opacity: 1;
}

.circle-border {
  border: 3px solid transparent;
  border: 5px solid rgba(140, 114, 196, 0.8); /* Purple color */
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#evolution_in_progress{
  font-family: 'Groupe', sans-serif;
}

.bg-glassmorphism {
  background: rgba(109, 0, 117, 0.351); /* Violet tint with semi-transparency */
  border-radius: 100%; /* Rounded corners for circular shape */
  backdrop-filter: blur(10px); /* Blurs the content behind the element */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Slightly transparent white border */
}

.bg-glass{
  background: rgba(71, 63, 71, 0); /* Violet tint with semi-transparency */
  border-radius: 100%; /* Rounded corners for circular shape */
  backdrop-filter: blur(10px); /* Blurs the content behind the element */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
  box-shadow: 0 4px 6px rgba(110, 107, 107, 0.1); /* Subtle shadow for depth */
 
}
