
/* .card-main{
    clip-path: polygon(0 0, 75% 0%, 100% 25%, 100% 100%, 25% 100%, 0 75%);
    
} */

@media (max-width: 640px){
    .card-main{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
}

@media (max-width: 768px){
    .card-main{
        backdrop-filter: blur(10px);
        overflow-y: auto;
        background-color: rgba(128, 128, 128, 0.26);
    }
}

.clipped{
    clip-path: polygon(0 0, 75% 0%, 100% 25%, 100% 100%, 25% 100%, 0 75%);
}

.details{
    scrollbar-width: none;
}